.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.item-strech{
    align-items: stretch;
}
.grow{
    flex: 1 1 auto;
}
.flex-20{
    flex: 0 1 20%;
}
.flex-50{
    flex: 0 1 50%;
}
.flex-25{
    flex: 0 1 25%;
}
.flex-85{
    flex: 0 1 85%;
}
.width-100{
    width: 100%;
}