$primery: #ff5c00;
$secondary: #d1a835fd;
$hero-background: #f8e3ce;
$text-black: #2f3a39;
$white-clr: #fcf3f3; 
$font-family1: 'Gentium Book Plus', serif;
$font-family2: 'Gentium Book Plus', serif;
$font-family3: 'Tajawal', sans-serif;
