/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.marketing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 40vh;
}

.marketing-tips {
  display: grid;
  align-self: center;
  text-align: center;
  padding: 2rem;
}

.tips1 {
  background-color: rgba(209, 168, 53, 0.9921568627);
  color: aliceblue;
}

.tips2 {
  background-color: #ff5c00;
  color: aliceblue;
}

.tips3 {
  background-color: rgba(0, 0, 0, 0.9);
  color: aliceblue;
}

.tips4 {
  background-color: rgb(167, 167, 147);
  color: white;
}

.experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50vh);
}

.contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.say-hello {
  display: grid;
  grid-column: span 2;
}

.map {
  display: grid;
}

iframe {
  display: grid;
  width: 130vh;
  height: 50vh;
  justify-self: center;
  margin: 2rem;
}

.footer {
  display: grid;
  justify-content: center;
  padding: 8rem;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  html {
    font-size: 12px;
  }
  .hero {
    display: grid;
    grid-template-columns: repeat(1fr);
  }
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.item-strech {
  align-items: stretch;
}

.grow {
  flex: 1 1 auto;
}

.flex-20 {
  flex: 0 1 20%;
}

.flex-50 {
  flex: 0 1 50%;
}

.flex-25 {
  flex: 0 1 25%;
}

.flex-85 {
  flex: 0 1 85%;
}

.width-100 {
  width: 100%;
}

html {
  font-size: 1rem;
}

body {
  line-height: 1.2;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgba(22, 22, 22, 0.7);
}
a:hover {
  color: #ff5c00;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem;
}

.btn-primary {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.8rem 2rem;
  border: 2px solid #2f3a39;
  border-radius: 10rem;
}
.btn-primary:hover {
  background: #ff5c00;
  transform: scale(1.2);
}

.active a {
  color: #ff5c00;
}

h2 {
  color: white;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.my-skills p {
  color: #2f3a39;
  font-size: 0.7rem;
  margin-bottom: 0.6rem;
}

progress {
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: black;
  height: 2px;
}

.hero-img {
  background-image: url(../media/home-img.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.brand {
  font-size: 1.3rem;
  padding: 3rem 8rem;
  display: block;
  font-weight: 800;
}

.hero-artical {
  background-color: #f8e3ce;
  padding: 3rem;
}

.nav {
  padding: 0 3rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-bottom: 8rem;
}

#toggle, .bars {
  display: none;
}

small {
  display: block;
  margin-bottom: 1rem;
  word-spacing: 5px;
  font-size: 0.7rem;
  color: rgba(128, 128, 128, 0.6);
  text-transform: uppercase;
}

strong {
  color: rgba(0, 0, 0, 0.877);
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  font-family: "Tajawal", sans-serif;
  margin-bottom: 1rem;
  color: rgba(97, 95, 95, 0.904);
}

.hero-artical p {
  font-size: 0.8rem;
  color: rgba(128, 128, 128, 0.6);
  line-height: 1.5;
  margin-bottom: 3rem;
}

.artical-skill {
  padding: 1.6rem;
  background-color: beige;
}

h3 {
  color: #2f3a39;
  font-size: 2.5rem;
  font-family: "Tajawal", sans-serif;
  padding-bottom: 2rem;
}

.artical-skill-para {
  color: #ff5c00;
  margin-bottom: 2rem;
}

h3 ~ p {
  font-size: 0.8rem;
  line-height: 1.8;
  color: rgba(128, 128, 128, 0.6);
  margin-bottom: 1.4rem;
}

.my-skills {
  background-color: rgba(209, 168, 53, 0.9921568627);
  padding: 1.5rem 2rem;
}

div span {
  color: white;
  font-size: 0.7rem;
  margin-bottom: 2.5rem;
  display: block;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h4 ~ p {
  line-height: 1.5;
}

.marketing-tips a {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 2rem;
}

.exp-artical {
  background-color: #ff5c00;
  padding: 2rem 3rem;
}

.exp-img img {
  height: 50vh;
}

.graphic {
  margin-bottom: 1rem;
}

h2 + p {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 2rem;
}

h5 {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
  color: rgba(255, 255, 255, 0.6);
}

tagname {
  font-size: 0.8rem;
  color: navy;
  font-weight: 700;
}

h5 ~ p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
}

.graphic, .web a {
  font-size: 2rem;
}

.education-artical {
  background-color: rgba(209, 168, 53, 0.9921568627);
  padding: 2rem 3rem;
}

.contact-us {
  background-color: #ff5c00;
}

.say-hello {
  padding: 2rem;
}

fieldset input {
  display: block;
  border: none;
  border-bottom: 1px solid rgba(209, 168, 53, 0.9921568627);
  background-color: #ff5c00;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  width: 100%;
}

textarea {
  border: none;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(209, 168, 53, 0.9921568627);
  background-color: #ff5c00;
  width: 100%;
}

#btn-secondry {
  font-size: 1rem;
  padding: 0.8rem 6rem;
  margin-top: 2rem;
  border: none;
  border-radius: 10rem;
}

.contact-pic img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  padding: 2.5rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.office {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  margin: 1rem 0 1.5rem;
  display: block;
}

.call {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.call i {
  margin-right: 1rem;
}

.mail a {
  display: block;
  color: rgba(209, 168, 53, 0.9921568627);
  margin-top: 1rem;
}

.mail i {
  color: black;
  margin-right: 1rem;
}

.temp {
  color: red;
  font-size: 0.8rem;
}

.footer-nav {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.footer-nav a {
  margin-right: 2rem;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  html {
    font-size: 12px;
  }
  .sm-column {
    flex-direction: column;
  }
  .nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0%;
    bottom: 0;
    width: 100%;
    padding-top: 5rem;
    z-index: 9;
    background-color: rgba(30, 183, 210, 0.8);
  }
  #toggle:checked ~ .nav {
    display: inline-block;
  }
  .bars {
    display: inline-block;
    font-size: 2rem;
  }
  .brand, .bars {
    position: fixed;
    margin-top: 1.5rem;
    z-index: 99;
  }
  .bars {
    top: 0.5rem;
    right: 46%;
  }
  .nav-item {
    margin: 12px 0;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  html {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */